@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');


#videowrapper {
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}


#fullScreenDiv {
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: gray;
  position: relative;
}

#video {
  height: auto;
  margin: auto;
  display: block;
}

@media (min-aspect-ratio: 16/9) {
  #video {
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video {
    height: 100vh;
    width: auto;
    margin-left: 50vw;
    transform: translate(-50%);
  }
}

#videoMessage {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Skills Section */
.skills-parent{
  background-color: #f0f0f7;
  padding-bottom: 30px;
  margin-top: 40px;
}
.skills {
  box-shadow: 10px 10px 20px black;
  gap:20px;
  background-color: #cfd1e1;
  padding: 30px;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}
.skill-card {
  transition: all 0.3s ease-in-out;
  color: white;
  padding: 4px;
  background-color: #242526 !important;
  width: 130px;
}
.skill-card:hover{
  background-color: black !important;
  box-shadow: 10px 10px 20px #242526;
}
.skill-card img{
  padding: 15px;
}


.education{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 140px;
}
.education-text {
  margin-left: 20px;
}
.education-card img{
  height: 25%;
  width: 25%;
}
.education-card h6{
  color: green;
}
.education-card h3{
color: rgb(33, 33, 84);
}

.education-card{
  width:95%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  box-shadow: 10px 10px 20px black;
}

@media only screen and (max-width: 600px){
  .education-text {
    margin-left: 0px;
    padding: 5px;
  }
  .skills-parent{
    margin-right: 0px;
    padding-right: 0px;
  }
  .education{
    margin-left: 8px;
  }
  .education-card img{
    height: 25%;
    width: 100%;
  }
  .education-card{
    padding: 10px;
  }
}
.edu-head{
  display: flex;
  align-items: center;
  justify-content: center;
}
.edu-hat{
  width: 70px;
  height: 70px;
  margin-top: 10px;
  margin-right: 5px;
}
.projects-body{
  background-color: #f0f0f7;
  padding-bottom: 40px;
}
.projects{
  margin-top: 40px;
  display: flex;
  flex-wrap:wrap ;
  gap:30px;
  justify-content: center;
  
}
.project-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 350px;
  width: 350px;
  background-color: aqua;
}
.project-card img{
  height: 350px;
  width: 350px;
  object-fit: cover;
 transition: .5s ease;
}
.project-head{
  margin-top: 15px;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}
/*W3 image card */

.containerx {
  position: relative;
  height: 350px;
  width: 350px;
}
.overlay h3{
  background-color: #23ad93;
  padding: 5px;
}

.image {
  margin-top: -9px;
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e5e5e5;
  overflow: hidden;
  width: 100%;
  height: 13%;
  transition: .5s ease;
}
.button-class{
 opacity: 0;
  padding: 2px;
  background-color: #242526;
  display: flex;
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  -ms-transform: translate(-50%, -50%);
}
.overlay p{
  margin-top: 200px;
  margin-left: 9px;
  margin-right: 9px;
  word-wrap: normal;
  
}

.button-class img{
  width: 30px;
  height: 30px;
}
.code-button{
  background-color: #242526 !important;
  border: none;
}
.containerx:hover .overlay {
  height: 100%;
}
.containerx:hover .text{
  display: block;
}
.containerx:hover .button-class{
  opacity: 1;
}
.containerx:hover p{
  opacity: 1;
}


.text {
  display: none;
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 8px;
}

.text a{
  text-decoration: none;
  background-color: #242526;
  color: white;
  font-size: 16px;
  padding: 16px;
}

.typing-text{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
  font-size: 25px;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 92px  black,
      0 0 102px black,
      0 0 151px black;
}


@media only screen and (max-width: 600px){
 
  #videowrapper {
    margin-bottom: 40px;
    width: 100vw;
  }
  .typing-text{
    font-size: 17px;
  }
}
