@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

html,
body {
  color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;  
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}

.front-section{
  float: left;
  width: 50%;
  padding: 30px;
}
.front-section h1{
  padding-top:50px;
  width: 700px;
}
.home{
  padding-top: 150px;
  height: 100vh;
}

@media only screen and (max-width: 600px){
  .front-section{
    width: 100%;
    margin-left: 10px;
  }
  .front-section h1{
    width: auto;
  }
  .home{
    padding-top: 0px;
  }
  .front-section img{
    width: auto;
    height: auto;
  }
  
 
}

.front-section img{
  width: 300px;
  height: 300px;
  object-fit: cover;

}

.social img{
  margin-top: 20px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
}
.social img:hover{
  scale: 1.1;
  transition: ease-in-out 0.2s;
}
.about-section img{
  box-shadow: 5px 5px 20px black;
  width: 300px;
  height: 400px;
}
.about-section{
  margin-top: 30px;
  width: 48%;
}
@media only screen and (max-width: 600px){
  .about-section{
    margin-top: 30px;
    width: 100%;
  }
}
.heading{
  text-align: center;
  margin-top: 40px;
}


.navbar{
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #133135 !important;
  color: white !important;
 
}
.navbar-brand{
  color: white;

  font-size: 1.7rem !important;
}
.navbar a{
  color: white;
}
.navbar a:hover{
  color: white;
  background-color: #3A3B3C !important;
}
.nav-link{
  font-weight: 600 !important;
  font-size: 1.4rem !important;
}

.navbar-toggler {
  border-color: white;
}
.navbar button:hover{
  color: #133135;
}

.mob-span{
  display: none;
}
.web-span{
  display: block;
}

@media only screen and (max-width: 600px){
  .mob-span{
    display: block;
  }
  .web-span{
    display: none;
  }
}


